:root {
    --background: antiquewhite;
    --color: #000000;
    --primary-color: #0f3460;
    --sub-bg: var(--background);
}

*{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    text-decoration: none;
}

body {
    margin: 0;
    box-sizing: border-box;
    background-color: antiquewhite;
    color: var(--color);
    letter-spacing: 1px;
}

h1 {
    font-size: 2.5rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    position: relative;
    width: 22.2rem;
}

.form-container {
    border: 1px solid hsla(0, 0%, 0%, 0.158);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    padding: 50px;
}

.login-container form input,
.login-container form select {
    display: block;
    padding: 14.5px;
    width: 100%;
    margin: 2rem 0;
    color: rgb(80, 80, 82);
    outline: none;
    border: solid;
    background-color: #9191911f;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    letter-spacing: 0.8px;
    font-size: 15px;
}

.login-container form button {
    background-color: var(--primary-color);
    color: white;
    display: block;
    padding: 13px;
    border-radius: 5px;
    outline: none;
    font-size: 18px;
    letter-spacing: 2.5px;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
    margin-bottom: 2rem;
    border: none;
}

    

/* CSS styles for back button /
.back-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.back-btn:hover {
    background-color: #0056b3;
}

a {
    color: inherit; / ใช้สีของข้อความเหมือนกับข้อความปกติ /
    transition: color 0.3s; / เพื่อให้มีการเปลี่ยนสีเมื่อเมาส์ไปวาง /
    text-align: center;
    margin-left: 35%;
}

a:hover {
    color: #007bff; / สีเมื่อนำเมาส์ไปวาง */
