    /* CSS styles for tab menu */


    .tab-menu {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        background-color: #333;
    }

    .tab-item {
        padding: 10px 20px;
        background-color: #ddd;
        border-radius: 5px;
        cursor: pointer;
    }

    .tab-item:hover {
        background-color: #ccc;
    }

    /* CSS styles for form container */
    .form-container {
        margin: 20px;
    }

    input {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        border: 1px solid #270a0a;
    }