<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h2>บันทึกข้อมูล</h2>
          <form action="{{ url_for('insert') }}" method="post">
           <div class="form-group">
             <label for="fname">Book ID</label>
             <input type="number" class="form-control"  name="book_id">
           </div>
           <div class="form-group">
             <label for="fname">Book Name</label>
             <input type="text" class="form-control"  name="book_name">
           </div>
           <div class="form-group">
             <label for="fname">Publisher</label>
             <input type="text" class="form-control"  name="publisher">
           </div>
           <div class="form-group">
             <label for="fname">Type</label>
             <input type="text" class="form-control"  name="book_type">
           </div>
           <div class="form-group">
             <label for="fname">Category</label>
             <input type="text" class="form-control"  name="category">
           </div>
           <div class="form-group">
             <label for="fname">Author</label>
             <input type="text" class="form-control"  name="author">
           </div>
           <div class="store">
             <label for="fname">Description</label>
             <input type="text" class="form-control"  name="description">
           </div>
           <div class="store">
             <label for="fname">Store</label>
             <input type="number" class="form-control"  name="store">
           </div>
           <div class="store">
             <label for="fname">Image_url</label>
             <input type="text" class="form-control"  name="image_url">
           </div>
           <div class="store">
             <label for="fname">Price</label>
             <input type="number" class="form-control"  name="price">
           </div>
           <a class="btn btn-success" href="/">กลับหน้าแรก</a>
           <button type="submit" class="pull-right btn btn-primary">บันทึก</button>
          </form>
   </div>
</body>
</html>