<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<body>
    <h1>cart</h1>
    <a href="/" class="btn btn-primary btn-xs">Main Page</a>
    <a href="/confirm" class="btn btn-primary btn-xs">Confirm</a>
    <div style="margin: 10px; max-width: 90%;">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th >รูปภาพ</th>
              <th>ชื่อ</th>
              <th>สำนักพิมพ์</th>
              <th>ประเภท</th>
              <th>หมวดหมู่</th>
              <th>ผู้่เเต่ง</th>
              <th>คำอธิบาย</th>
              <th>จำนวน</th>
              <th>ราคา</th>
              <th>จำนวนที่ซื้อ</th>
            </tr>
          </thead>
          <tbody>
            {% for row in data %}
            <tr>
              <td><img src = "{{row.8}}" style="height: 100px;"></td>
              <td>{{row.1}}</td>
              <td>{{row.2}}</td>
              <td>{{row.3}}</td>
              <td>{{row.4}}</td>
              <td>{{row.5}}</td>
              <td>{{row.6}}</td>
              <td>{{row.7}}</td>
              <td>{{row.11}}</td>
              <td><input type="number" class="form-control" name="wanted" value="{{row.10}}"min="1" max="{{row.7}}"></td>
              <td>
                <a href="/deletecart/{{ row.0 }}" class="btn btn-danger btn-xs" onclick="return confirm('คุณต้องการลบข้อมูลหรือไม่?')">Delete</a>
                <a href="/addcart/{{ row.0 }}" class="btn btn-primary btn-xs" onclick="return confirm('ต้องการเพิ่มในตระกล้าใช่ไหม?')">Add to Cart</a>
              </td>
            </tr>
          </div>
        </div>
        {% endfor %}
        <a href="/deletecartall" class="btn btn-danger btn-xs" onclick="return confirm('คุณต้องการลบข้อมูลหรือไม่?')">Delete All</a>
</body>
</html>