<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <a href="/" class="back-btn">กลับไปยังหน้าหลัก</a>
  <p>{{data}}</p>
  <form action="/purchase" method="post" enctype="multipart/form-data">
    <p>รหัสการสั่งซื้อ {{data[2]}}</p>
    <p>ราคารวม {{data[1][0][0]}} บาท</p>
    ชื่อ
    <input type="text" name = "name" value="{{data[0][1]}}">
    เบอร์โทร
    <input type="number" name = "tel_no" value="{{data[0][3]}}">
    ที่อยู่
    <input type="text" name = "address" value="{{data[0][2]}}">
    <input type="file" name="image" accept="image/*">
    <input type="text" name="pur_id" value="{{data[2]}}" style="display: none;">
    <button type="submit">ยืนยันการชำระเงิน</button>
</form>
</body>
</html>