<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ร้านขายหนังสือออนไลน์</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <body>
    <header>
        <h1>Book</h1>
        <nav>
            <ul>
                <li><a href="./main.html">หน้าแรก</a></li>
                <li><a href="./supdes.html">ระบบสนับสนุนการตัดสินใจ</a></li>
                <li><a href="./status.html">สถานะ</a></li>
                <li><a href="./memberinfo.html">ข้อมูลรหัส</a></li>
                <li><a href="./history.html">ประวัติ</a></li>
                <li><a href="./login.html">เข้าสู่ระบบ / สมัครสมาชิก</a></li>
            </ul>
        </nav>
    </header>

    <!-- เนื้อหาหน้าแรก -->
    <section id="home">
        <div id="search-container">
        <h2 style="margin-right:20px">ค้นหาหนังสือ</h2>
        <input type="text" id="search-input" placeholder="ค้นหาหนังสือ...">
        <button id="search-button">ค้นหา</button>
        <div id="filter-container">
            <select id="filter">
                <option value="all">ทั้งหมด</option>
                <option value="fiction">นิยาย</option>
                <option value="non-fiction">งานวิจัย</option>
                <option value="biography">บรรยาย</option>
                <option value="all">ทั้งหมด</option>
                <option value="fiction">นิยาย</option>
                <option value="non-fiction">งานวิจัย</option>
                <option value="biography">บรรยาย</option>
            </select>
        </div>
      </div>
      รูปหนังสือ----------------
        <!-- เพิ่มเนื้อหาเพิ่มเติมที่นี่ -->
    </section>

    <!-- เพิ่มเนื้อหาของแต่ละส่วนต่อไป -->

    <footer>
    </footer>
</body>
</html>