<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="UTF-8">
<title>Login</title>
<link rel="stylesheet" href="../memberinfo.css">
</head>
<body>
    
    <section class="container">
        <div class="login-container">
            <div class="form-container">
                <h1 class="opacity">แก้ไขข้อมูลสมาชิก</h1>
                <form>
                    <input type="text" placeholder="ชื่อนามสกุล" />
                    <input type="text" placeholder="วันเดือนปีเกิด" />
                    <input type="text" placeholder="ที่อยู่" />
                    <input type="text" placeholder="เบอร์โทร" />
                    <input type="text" placeholder="USERNAME" />
                    <input type="text" placeholder="PASSWORD" />
                    <button class="opacity">Change</button>
                    <a href="main.html" class="back-btn">กลับไปยังหน้าหลัก</a>
                </form>
                
            </div>
        </div>
        
        <div class="theme-btn-container"></div>
        
    </section>
</body>
</html>
