<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Hello world</title>
</head>
<body >
    <h1>Database test</h1>
    <a href="/" class="back-btn">กลับไปยังหน้าหลัก</a>
    <div id = 'head'></div>
    <div style="margin: 10px; max-width: 90%;">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th >รูปภาพ</th>
            <th>ชื่อ</th>
            <th>ราคา</th>
          </tr>
        </thead>
        <tbody>
          {% for index in range(1, len) %}
          <div> <!-- 1 box -->
            <tr>
              <td><img src = "{{data[index][8]}}" style="height: 100px;"></td>
              <td>{{data[index][1]}}</td>
              <td>{{data[index][9]}}</td>
              <td>
                <a href="/addcart/{{data[index][0]}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{data[index][0]}}">Buy</a>
              </td>
            </tr>
        </div>
          <div id="modaledit{{data[index][0]}}" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">อัพเดทข้อมูลของท่าน</h4>
                </div>
                <div class="modal-body">
                  <form action="/addcart/{{data[index][0]}}" method="POST">
                    <img src = "{{data[index][8]}}" style="height: 100px;">
                    <div class="form-group">
                      <label>Book Name</label>
                      <p>{{data[index][1]}}
                    </div>
                    <div class="form-group">
                      <label>Publisher</label>
                      <p>{{data[index][2]}}
                    </div>
                    <div class="form-group">
                      <label>Type</label>
                      <p>{{data[index][3]}}
                    </div>
                    <div class="form-group">
                      <label>Category</label>
                      <p>{{data[index][4]}}
                    </div>
                    <div class="form-group">
                      <label>Author</label>
                      <p>{{data[index][5]}}
                    </div>
                    <div class="form-group">
                      <label>Description</label>
                      <p>{{data[index][6]}}
                    </div>
                    <div class="form-group">
                      <label>Store</label>
                      <p>{{data[index][7]}}
                    </div>
                    <div class="form-group">
                      <label>Price</label>
                      <p>{{data[index][9]}}
                    </div>
                    <div class="form-group">
                      <input type="number" class="form-control" name="wanted" value="1"min="1" max="{{data[index][7]}}">
                      {% if data[0][0] ==0 %}
                        <button class="btn btn-primary" type="submit" disabled>Add to Cart</button>
                      {% else %}
                        <button class="btn btn-primary" type="submit" >Add to Cart</button>
                      {% endif %}
                    </div>
                    <input style="display: none;" value = "mainpage" name = "url"></input>
                  </form>
                </div>
             </div>
        </div>
   </div>
   
            {% endfor %}
        </tbody>
  </table>
    </div>
    <script>
      flask_data = '{{data}}'
      flask_data = flask_data.replaceAll("&#39;","").slice(1, -1)
      pre_array = flask_data.split('(')
      var i,data,x
      array = []
      array2 = []
      for (i=1 ; i <pre_array.length ;i++){
        data = pre_array[i].split(')')
        array.push(data[0])
      }
      array = array[0].split(', ')
      console.log(array[0])
      if(array[0] == 0){
        console.log('not login')
        x = "<a href=\"/login\" class=\"btn btn-primary\">เข้าสู่ระบบ</a>"
        document.getElementById("head").innerHTML = x
      }
      else if(array[0] == 1){
        console.log('admin')
        x = "<a href=\"/cart\" class=\"btn btn-primary\">Cart</a>\
      <a href=\"/logout\" class=\"btn btn-primary\">ออกจากระบบ</a>"
        document.getElementById("head").innerHTML = x
      }
      else{
        console.log('custommer')
        x = "<a href=\"/cart\" class=\"btn btn-primary\">Cart</a>\
      <a href=\"/logout\" class=\"btn btn-primary\">ออกจากระบบ</a>"
        document.getElementById("head").innerHTML = x
      }
    </script>
</body>

</html>