<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>หน้าหลัก</title>
    <link rel="stylesheet" href="../supdes.css">
</head>
<body>
    <header>
        <!-- Tab menu -->
        <nav class="tab-menu">
            <div class="tab-item"><a href="./main.html">หน้าแรก</a></div>
            <div class="tab-item"><a href="./supdes.html">ระบบสนับสนุนการตัดสินใจ</a></div>
            
        </nav>
    </header>

    <main>
        <div class="form-container">
            <h1>แบบฟอร์มกรอกข้อมูล</h1>
            <form>
                <input type="text" placeholder="1" />
                <input type="text" placeholder="2" />
                <input type="text" placeholder="3" />
                <input type="text" placeholder="4" />
                <input type="text" placeholder="5" />
                <input type="text" placeholder="6" />
                <button type="submit">ยืนยัน</button>
            </form>
        </div>
    </main>
</body>
</html>